---
# Compiled by Jekyll
---

$root: "../styles/";
@import "base";

.posts {
    .card {
        margin: 3rem 0;
        padding: 1rem;
    }
}

.attribution {
    color: #999;

    span {
        display: block;
        color: #000;
    }
}

.post-attrib {
    float: left;
    width: 11em;
    margin: 0 2rem 1rem 0;

    img {
        margin-top: -1rem;
        background: white;
    }
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 2px 2px #888;
    margin-bottom: 5px;
}

.title {
    margin-top: 2rem;
}

.back-link {
    font-size: 1.25rem;
    position: absolute;
    left: 0;
}

.file {
    cursor: inherit;
}

iframe {
    margin: 0 auto;
}

@import "../css/syntax";
