---
layout: base
---

<div class="container posts">
  <div class="row">
    <div class="col-md-3">
      {% include sidebar.html %}
    </div>
    <div class="col-md-7">
      {% for post in site.posts limit:5 %}
      {% include post-stub.html post=post %}
      {% endfor %}
      {% if site.posts.size > 5 %}
      <div class="text-xs-right">
        <a href="/archive/2/" class="btn btn-primary">Page 2</a>
      </div>
      {% endif %}
      {% if site.posts.size == 0 %}
      <p class="text-centered"><em>There are no posts to show here.</em></p>
      {% endif %}
    </div>
</div>
