<header class="clearfix">
  <nav id="main-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-7">
          <a class="navbar-brand" href="/">
            <img id="navbar-logo" src="https://www.linode.com/media/images/header/linode-logo.svg"
                 width="115" height="45" />
            <span class="navbar-brand-text">Engineering</span>
          </a>
        </div>
        <div class="col-xs-3">
        <span class="nav-text">
          <a href="https://linode.com/careers">We're hiring!</a>
        </span>
        </div>
      </div>
    </div>
  </nav>
</header>
