<article class="article excerpt">
  <h2 class="article-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class="article-subtitle text-muted">
    <img class="article-avatar" src="{{ post.avatar }}" alt="{{ post.author }}" width="25" />
    <span class="article-author">By {{ post.author }}</span>
    <span class="article-date">on {{ post.date | date: "%b %-d, %Y" }}</span>
  </div>
  <div>
    {{ post.excerpt }}
  </div>
  <div class="article-tags">Tags: {{ post.tags | join: ", " }}</div>
</article>
