<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="https://www.linode.com/favicon.ico" type="image/x-icon" />
        <link rel="alternate" title="RSS" href="http://engineering.linode.com/feed.xml">
        <title>
            {% if page.title %}
                {% if page.override_title %}
                    {{ page.title }}
                {% else %}
                    {{ page.title }} - Linode Engineering Blog
                {% endif %}
            {% else %}
                Linode Engineering Blog
            {% endif %}
        </title>
        <link rel="stylesheet" href="/css/blog.css" />
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
        <footer class="container">
            <div class="row">
                <div class="col-md-offset-9 col-md-3 text-right">
                    <span class="text-muted">
                        &copy; Linode 2016, CC-BY-SA 4.0<br />
                        <a href="https://github.com/Linode/blog">
                            Source available on GitHub
                            <i class="fa fa-github"></i>
                        </a>
                    </span>
                </div>
            </div>
        </footer>
        <script src="/styles/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/styles/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
