---
layout: base
---

<div class="header">
    <div class="bg-clouds">
    </div>
    <div class="container">
        <h1 class="title">{{ page.title }}</h1>
    </div>
</div>
<div class="container">
    <div class="post-attrib card text-centered">
        <img class="avatar" alt="{{ page.author }}"
            src="{{ page.avatar }}" />
        <p class="attribution">
            Published
            <span class="date">
                {{ page.date | date_to_string }}
            </span>
            by
            <span class="author">
                {{ page.author }}
            </span>
        </p>
    </div>
    <div class="content text-justified">
    {{ content }}
    </div>
</div>
